.main {
  display: grid;
  grid-template-columns: 297px 210px 370px 210px;
  grid-template-rows: 23px 360px 53px 23px 109px 190px 360px;
  gap: 1rem;
}

.none {
  display: none;
}

.info-logo {
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/3;
  font-size: 12px;
  line-height: 14px;
}

.main-img {
  width: 297px;
}

.info-content {
  display: grid;
  grid-template-columns: 185px 112px;
  grid-template-rows: 42px 99px 34px;
}

.name {
  grid-column: 2/4;
  grid-row: 1/2;
}

.additional {
  grid-column: 4/5;
  grid-row: 1/2;
  font-size: 14px;
}

.content {
  grid-column: 2/4;
  grid-row: 2/3;
}

.info-logo-active {
  grid-column: 1/3;
  grid-row: 2/3;
}

.additional-content {
  grid-column: 4/5;
  grid-row: 2/3;
}

.additional-content-active {
  grid-column: 4/5;
  grid-row: 4/7;
  animation: 1.5s additional-content-active;
}

@keyframes additional-content-active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.additional-content2-active {
  display: block;
  grid-column: 4/5;
  grid-row: 7/8;
  animation: 1.5s additional-content2-active;
}

@keyframes additional-content2-active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.additional-active {
  grid-column: 4/5;
  grid-row: 3/4;
  margin-top: 2rem;
}

.content-active {
  grid-column: 3/5;
  grid-row: 2/3;
  animation: 0.7s content-active;
}

@keyframes content-active {
  0% {
    transform: translate(-230px);
  }
  100% {
    transform: 0;
  }
}

.main-img-active {
  width: 508px;
  height: 343px;
  transition: all 0.7s ease;
  animation: 0.7s main-img-active;
}

@keyframes main-img-active {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: 0;
  }
}

.name-active {
  grid-column: 1/3;
  animation: 0.7s name-active;
}

@keyframes name-active {
  0% {
    transform: translate(313px);
  }
  100% {
    transform: 0;
  }
}

.info-content-active {
  grid-template-columns: 297px 226px 367px;
  grid-template-rows: 85px 50px 49px;
}

.back-active {
  display: block;
  text-align: end;
  grid-column: 4/5;
  grid-row: 1/2;
  animation: 1.5s back-active;
}

@keyframes back-active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.feature-active {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: 1/4;
  grid-row: 6/8;
  animation: 1.5s feature-active;
}

@keyframes feature-active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
